@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/FoxNetSoft.ProductAddon/Styles/styles.css"));
}
<script type="text/javascript">
    $(document).ready(function () {
        var productIds = [];
        var divssarr = [];

        var divs = $(".small-product-item, .product-item");
        //alert(divs.length);
        $(divs).each(function (index, idata) {
            var prodnum = parseInt($(idata).attr("data-productid"));
            if (isNaN(prodnum) == false) {
                productIds[productIds.length] = prodnum;
                divssarr[divssarr.length] = idata;
            }
            //alert(prodnum);
        });

        if (productIds.length > 0) {
            //alert(productIds);
            $.ajax({
                cache: false,
                url: '@Url.Action("ProductListAddon", "ProductAddon")',
                dataType: 'json',
                type: 'POST',
                traditional: true,
                data: { productIds: productIds },
                success: function (data) {
                    //alert(data);
                    $(data).each(function (index, idata) {
                        for (var i = 0; i < productIds.length; i++) {
                            if (productIds[i] == idata.ProductId) {
                                //    alert(i);
                                //    alert(linksarr[i].href);
                                $(divssarr[i]).prepend('<div class="item-boxaddon ' + idata.CssClassName + '"></div>')
                            }
                        }
                    });
                },
                error: function () {
                    // alert("Error!");
                }
            });
        }
    });
</script>
